.aside {
    position: fixed;
    top: 50%;
    right: 3%;
}


.aside .aside-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 86px;
    margin-bottom: 6px;
    background-color: rgb(69, 140, 177);
    border-radius: 10px;
}

.aside .aside-box:hover {
    /* IE */
    opacity: 0.8;
    /* Moz + FF */
    -moz-opacity: 0.8;
    /* 支持CSS3的浏览器 */
    filter: alpha(opacity=80);
}

.aside .aside-box p{
    position: relative;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
}
